{% extends 'index.html' %}

{% block title %}
Post
{% endblock title %}

{% block header %}
<h2>Latest Posts:</h2>
{% endblock header %}

{% block content %}
<div class="post-form">
    <form action="#" method="post">
        <textarea name="post" id="post" cols="30" rows="5" placeholder="What's on your mind?"></textarea>
        <button type="submit">Post</button>
    </form>
</div>

<div class="posts">
    <div class="post">
        <p>Username: </p>
        <p>Posted on: January 1, 2025</p>
    </div>
    <div class="post">
        <p>Username: .</p>
        <p>Posted on: January 2, 2025</p>
    </div>
    <!-- More posts here -->
</div>
{% endblock content %}