<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Study Board - {% block title %}{% endblock title %}</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Bible Study Board</h1>
    {% include("_navigation.html") %}
    <section>
        <header>
          {% block header %}{% endblock header %}
        </header>
        <main>
          {% block content %}<p>No messages.</p>{% endblock content %}
        </main>
      </section>
</body>

</html>